<section class="blog">
  <div class="container">
    <div class="raw">
      <div class="blog_title">
        <h2>Blog Posts</h2>
      </div>
        <app-post-list></app-post-list>
    </div>
  </div>
</section>
