li.list-group-item{
  margin: 10px 0;

  .title-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .title{
    width: 50%;
  }

  .date{
    width: 50%;
    text-align: right;
  }

  .btn{
    margin: 0 15px 0 0;
  }

}
