<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': like > dislike,
                'list-group-item-danger': dislike > like}">
  <div class="container">
    <div class="title-wrapper">
      <div class="title">
        <h3>{{postTitle}}</h3>
      </div>
      <div class="date">
        <span>{{date | date: 'short'}}</span>
      </div>
    </div>

    <p>{{postContent}}</p>
    <button class="btn btn-success" (click)="clickCount()">Love It</button>
    <button class="btn btn-danger" (click)="clickCountDis()">Don't Love It</button>
  </div>
</li>
